.advantages {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: var(--main-color);

  @media (--not-mobile) {
    font-size: 20px;
    line-height: 22px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 28px;
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin: 0;
  padding: 0;

  @media (--not-mobile) {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: auto;
    gap: 58px 30px;
  }

  @media (--desktop) {
    column-gap: 45px;
  }
}

.advantages__item {
  list-style-type: none;
  padding-top: 54px;

  @media (max-width: 767.9px) {
    &:nth-child(2n+2) {
      order: 1;
    }
  }
}
