.button {
  display: block;
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: var(--base-color);
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid var(--base-color);
  padding: 14px;
  width: 260px;
  text-decoration: none;
}

.button--modal-add {
  color: #ffffff;
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
}
