.button-play {
  width: 101px;
  height: 101px;
  background-color: transparent;
  border: none;
  background-image: url("../../icons/sprite.svg#play");
  background-repeat: no-repeat;
  background-size: 101px auto;
  padding: 0;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    width: calc(101px * 1.2);
    height: calc(101px * 1.2);
    background-size: calc(101px * 1.2) auto;
    transition: all 0.2s;
  }

  &:active {
    width: calc(101px * 0.8);
    height: calc(101px * 0.8);
    background-size: calc(101px * 0.8) auto;
    opacity: 0.3;
  }
}
