.contacts {
  font-size: 14px;
  line-height: 30px;
}

.contacts__title {
  margin-bottom: 28px;
}

.contacts__list {
  margin-bottom: 62px;
}

.contacts__value {
  margin: 0;
}

.contacts__email {
  text-decoration: none;
  color: var(--base-color);
}

.contacts__image {
  display: block;
  object-fit: cover;
  margin-bottom: 42px;
}
