.content-form__group {
  border: none;
  padding: 0;
  margin: 0;
}

.content-form__title {
  font-size: 15px;
  line-height: 30px;
  padding: 0;
  margin-bottom: 22px;
}

.content-form__list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.content-form__item {
  list-style-type: none;
}
