.contacts {
  font-size: 14px;
  line-height: 30px;

  @media (--not-mobile) {
    font-size: 17px;
    position: relative;

    &::before {
      content: "";
      width: 47px;
      height: 81px;
      position: absolute;
      right: 54px;
      top: -24px;
      background-image: url("../../icons/sprite.svg#flag");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 81px;
    }
  }

  @media (--desktop) {
    display: grid;
    grid-template-columns: 124px 300px 1fr;
    grid-template-rows: repeat(2, auto);
    column-gap: 50px;

    &::before {
      top: 62px;
      right: 13px;
      grid-column: 1 / 2;
    }
  }
}

.contacts__wrapper {
  @media (--desktop) {
    grid-column: 2 / 3;
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 28px;

  @media (--not-mobile) {
    margin-bottom: 50px;
    max-width: 80%;
  }

  @media (--desktop) {
    margin: 0;
    margin-top: 80px;
    margin-bottom: 34px;
  }
}

.contacts__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  margin-top: 0;
  margin-bottom: 62px;

  @media (--not-mobile) {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
  }

  @media (--desktop) {
    margin: 0;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

.contacts__wrapper-email {
  display: grid;
  grid-template-columns: auto 1fr;

  @media (--not-mobile) {
    margin-right: 50px;
  }

  @media (--desktop) {
    margin: 0;
  }
}

.contacts__wrapper-address {
  display: grid;
  grid-template-columns: auto 1fr;
}

.contacts__property {
  margin-right: 34px;
  max-width: 45px;

  @media (--not-mobile) {
    max-width: 55px;
    margin-right: 25px;
  }
}

.contacts__value {
  margin: 0;
}

.contacts__email {
  text-decoration: none;
  color: var(--base-color);
  border-bottom: 1px solid #61d1ba;

  @media (--desktop) {
    padding-bottom: 5px;
  }

  &:hover {
    color: #46c1ae;
    border-color: #46c1ae;
  }

  &:active {
    color: #46c1ae;
    border-color: rgba(70, 193, 174, 0.1);
  }
}

.contacts__map-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 42px;

  @media (--not-mobile) {
    margin-bottom: 55px;
  }

  @media (--desktop) {
    grid-column: 3 / 4;
    grid-row: 1 / -1;
    margin-bottom: 0;
  }
}

.contacts__map-js {
  grid-column: 1 / -1;
  grid-row: 1/ -1;
}

.contacts__map-nojs {
  grid-column: 1 / -1;
  grid-row: 1/ -1;
}

.contacts__map {
  display: block;
  border: none;
  object-fit: cover;
  margin-bottom: 0;
  width: 100%;

  @media (--not-mobile) {
    min-width: 768px;
    min-height: 457px;
    height: auto;
    width: 100%;
  }

  @media (--desktop) {
    min-width: 527px;
  }
}

.contacts__button {
  @media (--not-mobile) {
    width: 230px;
    margin: 0 auto;
  }

  @media (--desktop) {
    grid-column: 2 / 3;
    margin: 0;
    align-self: end;
  }
}
