.feedback__title {
  margin: 0;
  margin-bottom: 14px;
}

.feedback__item {
  margin: 0;
  margin-bottom: 33px;
}

.feedback__text {
  margin: 0;
  margin-bottom: 30px;
}

.feedback__author-name {
  font-size: 17px;
  font-weight: 700;
  color: var(--main-color);
}

.feedback__author-link {
  line-height: 30px;
  font-weight: 400;
  color: var(--base-color);
  text-decoration: none;
  margin-top: 6px;
}

.feedback__toogles {
  margin: 0;
  margin-bottom: 38px;
}
