.footer-logo {
  display: none;

  @media (--not-mobile) {
    display: block;

    &:hover .footer-logo__image {
      fill: #46c1ae;
    }

    &:active .footer-logo__image {
      fill: #46c1ae;
      opacity: 0.3;
    }

    &:focus-visible .footer-logo__image {
      fill: #46c1ae;
    }
  }
}
