.form-title {
  display: flex;
  align-items: center;
  font-size: 17px;
  line-height: 16px;
  color: var(--accent-color);
  text-transform: uppercase;
  font-weight: 700;

  &::after {
    content: "";
    height: 1px;
    background-color: #62d1ba;
    flex-grow: 1;
  }

  &__wrapper {
    flex-basis: auto;
    padding-right: 15px;
    max-width: 80%;
    min-width: 60px;
  }

  @media (--not-mobile) {
    align-items: start;

    &::after {
      display: none;
    }
  }

  @media (--desktop) {
    justify-content: center;
  }
}
