.link-icon {
  display: inline-block;
  width: 21px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
  margin-right: 25px;

  &--icon_search {
    background-image: url("../../icons/sprite.svg#search");

    @media (--not-mobile) {
      margin-right: 0;
      width: 18px;
    }
  }

  &--icon_cart {
    background-image: url("../../icons/sprite.svg#cart");

    @media (--not-mobile) {
      margin-right: 30px;
    }
  }
}

.link-icon__description {
  @media (--not-mobile) {
    display: none;
  }
}
