.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  //@media (--not-mobile) {
  //  display: block;
  //}

  //@media (--desktop) {
  //  display: flex;
  //  justify-content: center;
  //  align-items: center;
  //}
}

.logo__image {
  display: block;
  margin: 0 auto;

  @media (--not-mobile) {
    margin: 0;
    height: 46px;
  }
}
