.main-content {
  min-width: 320px;
}

.main-content__main-screen {
  margin-bottom: 30px;
}

.main-content__popular-product {
  margin-bottom: 73px;
}

.main-content__advantages {
  margin-bottom: 58px;
}

.main-content__feedback {
  margin-bottom: 89px;
}

.main-content__contacts {
  margin-bottom: 39px;
}
