.main-footer {
  background-color: #f1f1f1;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 23px;

  @media (--not-mobile) {
    padding-top: 51px;
    padding-bottom: 58px;
  }
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (--not-mobile) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-footer__social {
  margin: 0;
  margin-bottom: 51px;
  padding: 0;

  @media (--not-mobile) {
    margin-bottom: 0;
  }
}

.main-footer__copyright {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;

  @media (--not-mobile) {
    justify-content: flex-end;
  }
}
