.main-header {
  position: relative;
//  padding-top: 22px;
//  padding-bottom: 22px;

//  @media (--not-mobile) {
//    //display: grid;
//    //grid-template-columns: auto 1fr;
//    //padding: 0;
//  }

  @media (--not-mobile) {
    display: inline-flex;
    align-items: start;
  }
}
