.main-screen {
  background-image: url("../../img/main-screen-mobile@1x.jpg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 70px;
  color: var(--main-color);
}

.main-screen__main-title {
  margin-bottom: 120px;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.main-screen__product {
  margin: 0;
  padding: 0;
}
