.main-content {
  min-width: 320px;
}

.main-content__main-screen {
  margin-bottom: 30px;

  @media (--not-mobile) {
    margin-bottom: 53px;
  }

  @media (--desktop) {
    margin-bottom: 72px;
  }
}

.main-content__popular-product {
  margin-bottom: 31px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../../icons/sprite.svg#wave-stroke-mobile");
    background-repeat: repeat-x;
    width: 100vw;
    height: 6px;
    bottom: 0;
    left: -30px;
  }

  @media (--not-mobile) {
    margin-bottom: 56px;

    &::after {
      background-image: url("../../icons/sprite.svg#wave-stroke-tablet");
      height: 17px;
      left: -50px;
    }
  }

  @media (--desktop) {
    margin-bottom: 68px;

    &::after {
      background-image: url("../../icons/sprite.svg#wave-stroke-desktop");
      background-size: 105px;
      height: 23px;
      width: 100%;
      left: 0;
    }
  }
}

.main-content__advantages {
  margin-bottom: 58px;

  @media (--not-mobile) {
    margin-bottom: 82px;
  }

  @media (--desktop) {
    padding-left: 175px;
    margin-bottom: 85px;
  }
}

.main-content__feedback {
  margin-bottom: 38px;

  @media (--not-mobile) {
    margin-bottom: 68px;
  }

  @media (--desktop) {
    margin-bottom: 71px;
  }
}

.main-content__contacts {
  margin-bottom: 43px;

  @media (--not-mobile) {
    margin-bottom: 52px;
  }

  @media (--desktop) {
    margin-bottom: 105px;
  }
}
