.modal-content {
  padding: 28px 30px 46px;
  text-align: center;
}

.modal-content__title {
  color: var(--main-color);
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 14px;
}
