.optional-field__label {
  margin-bottom: 22px;

  @media (--not-mobile) {
    margin-bottom: 0;
    width: 25%;
  }

  @media (--desktop) {
    width: calc(1 / 6 * 100%);
  }
}

.optional-field__input {
  @media (--not-mobile) {
    width: 75%;
  }

  @media (--desktop) {
    width: calc(4 / 6 * 100%);
  }
}

.optional-field__input::placeholder {
  color: var(--main-color);
  opacity: 0.3;
  font-size: 17px;
  line-height: 18px;
}
