.optional-list {
  display: none;
  padding: 0;

  @media (--desktop) {
    display: grid;
    grid-template-columns: 184px 1fr;
    order: 3;
    margin: 0;
    font-size: 15px;
  }
}

.optional-list__item {
  list-style-type: none;

  @media (--desktop) {
    padding-top: 15px;
    padding-left: 35px;

    &:nth-child(odd) {
      padding-left: 0;
    }
  }
}

.optional-list__link {
  color: var(--main-color);
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
