.optional-field__label {
  margin-bottom: 22px;

  @media (--not-mobile) {
    margin-bottom: 0;
    padding-top: 20px;
    width: 25%;
  }

  @media (--desktop) {
    width: calc(1 / 6 * 100%);
  }
}

.optional-field__input {
  border: 2px solid var(--base-color);
  min-height: 142px;
  padding: 15px 17px;
  font-family: inherit;
  color: var(--base-color);
  font-size: 17px;
  line-height: 18px;

  @media (--not-mobile) {
    width: 75%;
    font-size: 19px;
  }

  @media (--desktop) {
    width: calc(4 / 6 * 100%);
  }

  &:hover {
    border-color: #62d1ba;
  }

  &:focus-visible {
    outline: none;
    border-color: #62d1ba;
  }
}

.optional-field__input::placeholder {
  color: var(--main-color);
  opacity: 0.3;
  font-size: 17px;
  line-height: 18px;

  @media (--not-mobile) {
    font-size: 19px;
  }
}
