.order-page__wrapper-title {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 177px;
  background-color: #f1f1f1;
  padding: 30px 0 30px;
  margin-bottom: 17px;

  @media (--not-mobile) {
    position: relative;
    min-height: 181px;
    align-items: start;
    padding: 56px 50px 56px;
    margin-bottom: 66px;

    &::after {
      content: "";
      background-image: url("../../icons/sprite.svg#wave-fill-tablet");
      position: absolute;
      background-repeat: repeat-x;
      width: 100vw;
      left: 0;
      bottom: -10px;
      height: 24px;
    }
  }

  @media (--desktop) {
    min-height: 210px;
    margin-bottom: 115px;

    &::after {
      content: "";
      background-image: url("../../icons/sprite.svg#wave-fill-desktop");
      position: absolute;
      background-repeat: repeat-x;
      width: 100vw;
      height: 34px;
      left: 0;
      bottom: -10px;
    }
  }
}

.order-page__form {
  margin-bottom: 58px;

  @media (--not-mobile) {
    margin-bottom: 50px;
  }
}

.order-page__description {
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 30px;

  @media (--not-mobile) {
    font-size: 17px;
    line-height: 30px;
    width: 100%;
    margin-bottom: 60px;
  }

  @media (--desktop) {
    width: calc(4 / 6 * 100%);
    margin-inline: auto;
  }
}
