.page {
  height: 100%;
  font-family: var(--main-font);
  font-size: 15px;
  line-height: 24px;
  color: var(--base-color);
}

.page__body {
  min-height: 100%;
  min-width: 260px;
  max-width: 1200px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0 auto;
}

.page__centerer {
  margin: 0 30px;

  @media (--not-mobile) {
    margin: 0 50px;
  }
}
