.page {
  height: 100%;
  font-family: var(--main-font);
  font-size: 15px;
  line-height: 24px;
  color: var(--base-color);
}

.page__body {
  min-height: 100%;
  min-width: 260px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0 auto;
  position: relative;
}

.page__centerer {
  margin: 0 30px;

  @media (--not-mobile) {
    margin: 0 50px;
  }

  @media (--desktop) {
    width: 1050px;
    margin: 0 auto;
  }

  &--mobile_on {
    @media (--not-mobile) {
      display: contents;
    }
  }

  &--mobile_off {
    @media (max-width: 767.9px) {
      display: contents;
    }
  }

  &--desktop_on {
    @media (max-width: 1149px) {
      display: contents;
    }
  }

  &--desktop_off {
    @media (--desktop) {
      display: contents;
    }
  }
}
