.phone-form__label {
  @media (--not-mobile) {
    width: 25%;
  }

  @media (--desktop) {
    width: calc(1 / 6 * 100%);
  }
}

.phone-form__input {
  @media (--not-mobile) {
    width: 75%;
  }

  @media (--desktop) {
    width: calc(4 / 6 * 100%);
  }
}
