.product-list {
  display: grid;

  @media (--not-mobile) {
    position: relative;
    grid-template-columns: 1fr 1fr;

    &::after {
      content: "";
      background-image: url("../../icons/sprite.svg#wave-fill-tablet");
      position: absolute;
      background-repeat: repeat-x;
      bottom: -10px;
      width: 100vw;
      left: -51px;
      height: 24px;
    }
  }

  @media (--desktop) {
    &::after {
      content: "";
      background-image: url("../../icons/sprite.svg#wave-fill-desktop");
      position: absolute;
      background-repeat: repeat-x;
      bottom: -10px;
      width: 100vw;
      left: calc(((100vw - 1050px) / 2) * -1);
      height: 34px;
    }
  }
}

.product-list__item {
  list-style-type: none;
  width: 100%;
  background-color: var(--accent-color);
  transition: all 0.15s ease-in;

  &:hover {
    background-color: #59d5bc;
    margin-top: -5px;
    transition: all 0.15s ease-out;
  }

  &:active {
    background-color: #59d5bc;
  }

  &:nth-child(2n+2) {
    background-color: #56c3b2;

    &:hover,
    &:active {
      background-color: #46c1ae;
    }
  }
}

.product-list__link {
  display: grid;
  grid-template-columns: 160px 1fr;
  align-items: center;
  width: 100%;
  min-height: 103px;
  color: #ffffff;
  text-decoration: none;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  padding-top: 21px;
  padding-bottom: 18px;

  &::after {
    content: "";
    position: relative;
    background-repeat: no-repeat;
    justify-self: end;
    opacity: 0.5;
  }

  &--interior::after {
    background-image: url("../../icons/sprite.svg#interior-items");
    background-size: 62px;
    background-position: center;
    width: 40px;
    height: 62px;
    right: 42px;
  }

  &--toys::after {
    background-image: url("../../icons/sprite.svg#kids-toys");
    background-position: center;
    background-size: 60px;
    width: 60px;
    height: 60px;
    right: 27px;
  }

  @media (--not-mobile) {
    font-size: 20px;
    line-height: 30px;
    padding: 25px 37px 27px;
    min-height: 119px;


    &--interior::after,
    &--toys::after {
      right: 0;
    }
  }

  &:hover::after {
    opacity: 0.7;
  }

  &:active::after {
    opacity: 0.3;
  }
}
