.product-card {
  list-style-type: none;
}

.product-card__link {
  text-decoration: none;
}

.product-card__image {
  display: block;
}

.product-card__content {
  border: 1px solid #ececec;
  padding: 28px;
}

.product-card__title {
  color: var(--main-color);
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 6px;
}

.product-card__description {
  margin: 0;
  margin-bottom: 40px;
  font-size: 13px;
  line-height: 30px;
}

.product-card__price {
  margin: 0;
  color: var(--main-color);
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}
