.product-list {
  display: flex;
  flex-direction: column;

  @media (--not-mobile) {
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
  }
}

.product-list__item {
  list-style-type: none;
  width: 100%;
  background-color: var(--accent-color);

  @media (--not-mobile) {
    width: 50%;
  }

  &:nth-child(2n+2) {
    background-color: #56c3b2;
  }
}

.product-list__link {
  display: grid;
  grid-template-columns: 160px 1fr;
  width: 100%;
  min-height: 103px;
  color: #ffffff;
  text-decoration: none;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  padding-top: 24px;
  padding-bottom: 31px;

  @media (--not-mobile) {
    font-size: 20px;
    line-height: 30px;
    padding: 25px 37px 34px;
    transition: all 0.15s ease-in;
  }

  &:hover {
    padding-bottom: 39px;
    padding-top: 25px;
    transition: all 0.15s ease-out;
  }
}
