.product-catalog__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 28px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  @media (--not-mobile) {
    row-gap: 54px;
    margin-bottom: 53px;
  }

  @media (--desktop) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 51px;
    margin-bottom: 57px;
  }
}

.product-catalog__card {
  min-height: 374px;

  @media (--not-mobile) {
    min-height: 334px;
  }

  @media (--desktop) {
    min-height: 659px;
  }
}
