.product-type {
  padding: 0;
  border: none;

  &__title {
    margin-bottom: 28px;

    @media (--not-mobile) {
      padding-top: 18px;
      margin-bottom: 0;
      width: 25%;
    }

    @media (--desktop) {
      width: calc(1 / 6 * 100%);
      padding-top: 23px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    @media (--not-mobile) {
      width: 75%;
    }

    @media (--desktop) {
      width: calc(5 / 6 * 100%);
    }
  }

  &__input {
    appearance: none;
    width: 42px;
    height: 42px;
    margin: 0;
    position: relative;

    &::before {
      content: "";
      width: 42px;
      height: 42px;
      border: 2px solid var(--base-color);
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
    }

    &:checked::after {
      content: "";
      width: 18px;
      height: 18px;
      background-color: #62d1ba;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }

    @media (--not-mobile) {
      width: 52px;
      height: 52px;

      &::before {
        width: 52px;
        height: 52px;
      }

      &:checked::after {
        width: 22px;
        height: 22px;
      }
    }

    &:hover::before {
      border-color: #62d1ba;
    }

    &:active::before {
      border-color: rgba(0, 0, 0, 0.3);
    }
  }

  &__item {
    list-style-type: none;
    margin-bottom: 12px;

    @media (--not-mobile) {
      margin-bottom: 24px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
