.product-list {
  display: flex;
  flex-direction: column;

  @media (--not-mobile) {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 50px;
  }
}

.product-list__item {
  list-style-type: none;
  width: 100%;

  @media (--not-mobile) {
    width: 50%;
  }
}

.product-list__link {
  display: block;
  width: 100%;
  min-height: 103px;
  color: #ffffff;
  background-color: var(--accent-color);
  text-decoration: none;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  padding-top: 24px;
  padding-bottom: 31px;

  &--color_darken {
    background-color: #56c3b2;
  }

  @media (--not-mobile) {
    font-size: 20px;
    line-height: 30px;
  }
}

.product-list__link-text {
  display: block;
  width: 160px;
}
