.product-type {
  padding: 0;
  border: none;
}

.product-type__title {
  @media (--not-mobile) {
    width: 25%;
  }

  @media (--desktop) {
    width: calc(1 / 6 * 100%);
  }
}

.product-type__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  @media (--not-mobile) {
    width: 75%;
  }

  @media (--desktop) {
    width: calc(5 / 6 * 100%);
  }
}

.product-type__item {
  list-style-type: none;
  margin-bottom: 11px;

  @media (--not-mobile) {
    margin-bottom: 24px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
