.social-list {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 22px;
  align-items: center;
}

.social-list__item {
  list-style-type: none;
  margin-right: 29px;

  &:last-of-type {
    margin-right: 0;
  }
}

.social-list__icon {
  &::before {
    content: "";
    display: block;
    width: 28px;
    height: 22px;
    background-size: 28px 22px;
    background-position: center;
    background-color: #231f20;
    mask: var(--icon) no-repeat center / cover;
  }

  &_vk::before {
    --icon: url("../../icons/sprite.svg#social-vk");
  }

  &_youtube::before {
    --icon: url("../../icons/sprite.svg#social-youtube");
  }

  &_telegram::before {
    --icon: url("../../icons/sprite.svg#social-telegram");
  }
}

.social-list__icon:hover::before {
  background: #46c1ae;
}

.social-list__icon:active::before {
  background: #46c1ae;
  opacity: 0.3;
}

.social-list__icon:focus-visible {
  outline-offset: 4px;
}

.social-list__icon:focus-visible::before {
  background: #46c1ae;
}

.social-list__icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -29px;
  background-color: #e5e5e5;

  @media (--not-mobile) {
    display: none;
  }
}
