.social-list {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 22px;
  align-items: center;

  &__item {
    list-style-type: none;
    margin-right: 29px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__icon {
    display: block;
    width: 28px;
    height: 22px;
    background-size: 28px 22px;
    background-position: center;
    background-color: #231f20;
    mask: var(--icon) no-repeat center / cover;

    &_vk {
      --icon: url("../../icons/sprite.svg#social-vk");
    }

    &_youtube {
      --icon: url("../../icons/sprite.svg#social-youtube");
    }

    &_telegram {
      --icon: url("../../icons/sprite.svg#social-telegram");
    }

    &:hover {
      background: #46c1ae;
    }

    &:active {
      background: #46c1ae;
      opacity: 0.3;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -29px;
    background-color: #e5e5e5;

    @media (--not-mobile) {
      display: none;
    }
  }
}
