.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-list__item {
  list-style-type: none;
  margin-right: 29px;
}

.social-list__item:last-of-type {
  margin-right: 0;
}
