<footer class="main-footer">
  <div class="page__centerer main-footer__wrapper">
    <a class="main-footer__logo footer-logo" href="index.html" aria-label="Логотип интернет-магазина Мишка.">
      <svg class="footer-logo__image" aria-hidden="true"  width="102" height="34">
        <use href="./img/logo.svg#logo-footer"></use>
      </svg>
    </a>

    <ul class="main-footer__social social-list">
      <li class="social-list__item">
        <a class="social-list__icon social-list__icon_vk" href="https://vk.com/htmlacademy">
          <span class="visually-hidden">Перейти в ВКонтакте</span>
        </a>
      </li>
      <li class="social-list__item">
        <a class="social-list__icon social-list__icon_youtube" href="https://www.youtube.com/user/htmlacademyru">
          <span class="visually-hidden">Перейти на ютуб</span>
        </a>
      </li>
      <li class="social-list__item">
        <a class="social-list__icon social-list__icon_telegram" href="tg://resolve?domain=htmlacademy">
          <span class="visually-hidden">Перейти в телеграм</span>
        </a>
      </li>
    </ul>

    <div class="main-footer__copyright copyright">
      <span class="copyright__description">Разработано</span>
      <a class="copyright__link logo-html-academy" href="https://htmlacademy.ru/intensive/adaptive">
        <span class="visually-hidden">Логотип сайта HTML Academy</span>
      </a>
    </div>
  </div>
</footer>
