<header class="main-header">
  <div class="main-header__wrapper page__centerer page__centerer--mobile_off">
    <div class="main-header__logo-wrapper">
      <a class="main-header__logo logo " href="index.html" {% if permalink == "index.html" %}aria-current="page"{% endif %}>
        <picture>
          <source media="(min-width: 1150px)" srcset="./img/logo.svg#logo-desktop">
          <source media="(min-width: 768px)" srcset="./img/logo.svg#logo-tablet">
          <img class="logo__image" src="./img/logo.svg#logo-mobile" width="86" height="35" alt="Логотип Мишка.">
        </picture>

      </a>
    </div>

    <nav class="main-navigation main-navigation--closed main-navigation--nojs {% if permalink == "index.html" %}main-navigation--index{% endif %}">
      <button class="main-navigation__toogle burger-menu">
        <span class="visually-hidden">Открыть меню</span>
      </button>
      <div class="main-navigation__wrapper">
        <ul class="main-navigation__site-list site-list">
          <li class="site-list__item">
            <div class="page__centerer page__centerer--mobile_on">
              <a class="site-list__link" href="catalog.html" {% if permalink == "catalog.html" %}aria-current="page"{% endif %}>Каталог товаров</a>
            </div>
          </li>
          <li class="site-list__item">
            <div class="page__centerer page__centerer--mobile_on">
              <a class="site-list__link" href="form.html" {% if permalink == "form.html" %}aria-current="page"{% endif %}>Вязание на заказ</a>
            </div>
          </li>
        </ul>
        <ul class="main-navigation__user-list user-list">
          <li class="user-list__item">
            <div class="page__centerer page__centerer--mobile_on">
              <a class="user-list__link user-list__link--search" aria-label="Поиск по сайту" href="#">
                <span class="link-icon link-icon--icon_search"></span>
                <span class="user-list__description">Поиск по сайту</span>
              </a>
            </div>
          </li>
          <li class="user-list__item">
            <div class="page__centerer page__centerer--mobile_on">
              <a class="user-list__link user-list__link--cart" href="#">
                <span class="link-icon link-icon--icon_cart"></span>
                Корзина: пока пуста</a>
            </div>
          </li>
        </ul>
        <ul class="main-navigation__list optional-list">
          <li class="optional-list__item">
            <a class="optional-list__link" href="">Новые поступления</a>
          </li>
          <li class="optional-list__item">
            <a class="optional-list__link" href="">Распродажа</a>
          </li>
        </ul>
        <p class="main-navigation__delivery">Бесплатная доставка по России</p>
      </div>
    </nav>
  </div>
  </header>
