<div class="modal-container" hidden>
  <section class="modal-container__wrapper">
    <div class="modal-container__content modal-content">
      <h2 class="modal-content__title">Добавить в&nbsp;корзину</h2>
      <form class="modal-content__form content-form" action="https://echo.htmlacademy.ru" method="get">
        <fieldset class="content-form__group">
          <legend class="content-form__title">Выберите размер:</legend>
          <ul class="content-form__list">
            <li class="content-form__item">
              <input class="content-form__input content-form__input--s" type="radio" name="size" value="s" id="size-s" checked>
              <label class="visually-hidden" for="size-s">Размер s</label>
            </li>
            <li class="content-form__item">
              <input class="content-form__input content-form__input--m" type="radio" name="size" value="m" id="size-m">
              <label class="visually-hidden" for="size-m">Размер m</label>
            </li>
            <li class="content-form__item">
              <input class="content-form__input content-form__input--l" type="radio" name="size" value="l" id="size-l">
              <label class="visually-hidden" for="size-l">Размер l</label>
            </li>
          </ul>
        </fieldset>
        <button class="content-form__button button button--modal-add" type="submit">Добавить</button>
      </form>
    </div>
  </section>
</div>
