@import "./global/fonts.scss";
@import "./global/variables.scss";
@import "./global/media.scss";
@import "./global/global.scss";
@import "./blocks/page.scss";
@import "./blocks/button.scss";
@import "./blocks/main-header.scss";
@import "./blocks/logo.scss";
@import "./blocks/main-navigation.scss";
@import "./blocks/burger-menu.scss";
@import "./blocks/inner-title.scss";
@import "./blocks/site-list.scss";
@import "./blocks/optional-list.scss";
@import "./blocks/user-list.scss";
@import "./blocks/link-icon.scss";
@import "./blocks/main-content.scss";
@import "./blocks/main-screen.scss";
@import "./blocks/product-list.scss";
@import "./blocks/popular-product.scss";
@import "./blocks/title.scss";
@import "./blocks/product-details.scss";
@import "./blocks/advantages.scss";
@import "./blocks/feedback.scss";
@import "./blocks/slider-toogles.scss";
@import "./blocks/contacts.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/footer-logo.scss";
@import "./blocks/social-list.scss";
@import "./blocks/copyright.scss";
@import "./blocks/logo-html-academy.scss";
@import "./blocks/catalog-page.scss";
@import "./blocks/product-catalog.scss";
@import "./blocks/product-card.scss";
@import "./blocks/button-add-cart.scss";
@import "./blocks/production.scss";
@import "./blocks/button-play.scss";
@import "./blocks/order-page.scss";
@import "./blocks/form.scss";
@import "./blocks/product-type.scss";
@import "./blocks/form-title.scss";
@import "./blocks/form-label.scss";
@import "./blocks/product-color.scss";
@import "./blocks/initials.scss";
@import "./blocks/form-input.scss";
@import "./blocks/phone-form.scss";
@import "./blocks/form-email.scss";
@import "./blocks/optional-field.scss";
@import "./blocks/modal-container.scss";
@import "./blocks/modal-content.scss";
@import "./blocks/content-form.scss";
